@model UpdateBookingDto
@{
	ViewData["Title"] = "UpdateBooking";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Rezervasyon İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni Rezervasyon Girişi</div>
						</div>
						<input type="hidden" asp-for="BookingId" />
						<div class="card-body">
							<div class="form-group">
								<label for="name">Ad Soyad</label>
								<input type="text" class="form-control" asp-for="Name" id="name" />
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="phone">Telefon Numarası</label>
								<input type="text" class="form-control" asp-for="Phone" id="phone" />
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="mail">Mail Adresi</label>
								<input type="email" class="form-control" asp-for="Mail" id="mail" />
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="personCount">Kişi Sayısı</label>
								<input type="number" class="form-control" asp-for="PersonCount" id="personCount" />
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="dateTime">Rezervasyon Tarihi</label>
								<input type="date" class="form-control" asp-for="DateTime" id="dateTime" />
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="description">Rezervasyon Durumu</label>
								<input type="text" class="form-control" asp-for="Description" id="description" />
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary">Rezervasyonu Güncelle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
